* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header_container {
  background-color: blueviolet;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5px;
}

.header_title{
  color:white;
  text-decoration: none;
  font-size: 24px;
  text-transform: uppercase;
}

.header_title:hover{
  color: rgba(255, 255, 255, 0.811)
}

.header_links a {
  text-decoration: none;
  color: white;
}
.header_links a:hover {
  color: rgba(255, 255, 255, 0.811)
}
