<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div>
      <div>
        <span>{{ reserva.cliente }}</span>
      </div>
      <div>
        <span>{{ reserva.procedimento }}</span>
      </div>
      <div>
        <span>Inicio: {{ reserva.horario_inicio }}</span>
      </div>
      <div>
        <span>Fim: {{ reserva.horario_fim }}</span>
      </div>
      <div>
        <span>Valor cobrado: {{ reserva.valor_pago }}</span>
      </div>
    </div>
<body/>
</html>