<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    {% if lista_clientes %}
      <ul>
      {% for cliente in lista_clientes %}
          <li><a href="{% url "agendamento:cliente_pagina" cliente.id %}">{{ cliente.nome }}</a></li>
          <form action="{% url 'agendamento:vote' cliente.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ cliente.nome }} </h1></legend>
                {% if error_message %} <p>{{ error_message }}</p> {% endif %}
                {% for choice in lista %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="20"/>
                {% endfor %}
            </fieldset>
            <input type="submit" value="vote">  
            </form>
          {% endfor %}
      </ul>
      {% else %}
          <p>No polls are available.</p>
    {% endif %}
</body>
</html>