<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/layout.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header class="header_container">
      <div class="header">
        <a href="/" class="header_title">Nail Designer</a>
        <nav class="header_links">
          <a href="">Sobre</a>,
          <a href="">Posts</a>
          <a href="">Login</a>
        </nav>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
